@model IEnumerable<DattingApp_FinalApp.Models.ProfileModel>

@{
    ViewData["Title"] = "Discover";
}
<body>
<h1>Discover</h1>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Match" asp-action="GetTheMatchesFor">Matches</a>
    </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Match" asp-action="GetAllTheLikedProfileRecivedFor">This people like you</a>
        </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Match" asp-action="GetAllTheLikeProfileGivenFor">People you like</a>
    </li>


@foreach (var item in Model)
{

            <div style="  display: inline-block;
  width: 300px;
  height: 300px;
  padding: 10px;
  border: 1px solid red;
  background-color: floralwhite;
  margin-right: 14px;
margin-bottom:14px;
  color: deeppink;  
">

            <div> <img src = "@Html.DisplayFor(modelItem => item.Picture)" /> </div>

    
          <div>     @Html.DisplayFor(modelItem => item.FirstName)


         @Html.DisplayFor(modelItem => item.LastName)</div>

        <div> @Html.DisplayFor(modelItem => item.City)</div>







            <div>
                @Html.DisplayFor(modelItem => item.LookingFor) </div>
           
                <div><br /></div>
            <div><br /></div>
            <div><br /></div>

       
 
        <div>  <a   asp-controller="Profile" asp-action="Details" asp-route-id="@item.Id">View Profile</a> </div>

            <div>  <a asp-controller="Match" asp-action="NewLike" asp-route-id="@item.Id"> &#10084;Like&#10084; </a> </div>

            
          
         
        </div>
}
   

</body>