@model IEnumerable<DattingApp_FinalApp.Models.ProfileModel>

@{
    ViewData["Title"] = "Likes";
}
<body>
    <h1>&#10084 &#10084 &#10084 </h1>



    @foreach (var item in Model)
    {

        <div style="  display: inline-block;
  width: 300px;
  height: 300px;
  padding: 10px;
  border: 1px solid red;
  background-color: floralwhite;
  margin-right: 14px;
  color: deeppink;
">

            <div> <img src="@Html.DisplayFor(modelItem => item.Picture)" /> </div>

            <div>
                @Html.DisplayFor(modelItem => item.FirstName)
            </div>


            <div>@Html.DisplayFor(modelItem => item.LastName)</div>

            <div> @Html.DisplayFor(modelItem => item.City)</div>







            <div>
                @Html.DisplayFor(modelItem => item.LookingFor)
            </div>

            <div><br /></div>
            <div><br /></div>
            <div><br /></div>



            <div>  <a asp-controller="Profile" asp-action="Details"  asp-route-id="@item.Id">View Profile</a> </div>

          

        </div>
    }


</body>